body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

.tituloHome{
    text-align: center;
    margin: 0 auto;
}

.cards{
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.container{
    min-height: 100%;
    position: relative;
    width: 800px;
    padding-bottom: 60px;
}

.nav{
    height: 64px !important;
    position: fixed !important;
    width: 100%;
    left: 0;
    top: -60px;    
    z-index: 701;
    background: #fff;
    opacity: .97;
    filter: alpha(opacity = 97);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

.carousel{
    height: 600px;
    margin: 0 auto;
}

li{
    height: 80%;
}

#logo-nav{
    margin-left: 15px;
    height: 75%;
    width: 75%;
}

#logo-body{
    height: 100px;
    width: 500px;
    margin-top: 60px;
    margin-left: 23%;
}

#h2-1{
    font-size: 40px;
    text-align: center;
}

.topicos-qs{
    color: #d81b60;
}


.img-qs{
    width: 200px;
    height: 200px;
    margin-left: 100px;
}

.footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 100px;    
}
