.input-field.col{
	margin-bottom: 60px;
}

.input-field.col.scnd{
	margin-left: 75px !important;
}

label{
	color: black !important;
}

input::placeholder{
	color:	rgba(0, 0, 0, 0.6) !important;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target{
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 17% auto;
  padding: 15px 20px;
  background: #fff;
  border-radius: 15px; 
}

.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000; 
}

.confirm{
  width: 100% !important;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;    
  font-size: 16px; 
  background: #2cf52c;
  color: #518749;
  border: none;
  border-radius: 10px;
}