  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color:#d81b60 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #d81b60 !important;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

html, body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container{
  padding-bottom: 60px;
}


h1{
    margin: 0 auto;
    margin-top: 50px;
}

img{
    height: 30%;
    width: 30%;
    margin-left: 35%;
}

 h2{
     color: #d81b60;
     text-align: center;
 }

 #cadst{
     margin-left: 10%;
     padding: 40px;
 }

#proximo{
  margin-left: 150px;
  background-color: white;
  color: rgb(38, 154, 166);
  border: 1px solid rgb(38, 154, 166);
}

#proximo:hover{
  background-color: rgb(38, 154, 166);
  color: white;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color ms linear;
}
