.imc{
    padding: 15px;
    margin-left: 0px;
    color: black;
    border-radius: 8px;
}

#exb{
	float: right;
	width: 50%;
	margin-right: 35px;
	margin-top: 10%;
}

.txtInfo{
    width: 250px !important;
    height: 80px;
    font-size: 25px;   
}

#formInfo{
    font-weight: 20px !important;
    margin: auto;
    height: 100%;
    width: 100% !important; 
    text-align: center;  
}

#infPeso, #infPont{
    display: inline-block;
    margin-left: 100px;
}

