.header{
    background-image: url("../imgs/logo.png");
    background-size: contain;
    background-repeat: no-repeat;  
    background-position: center;  
    margin-bottom: 20px;
    margin-top: 10px;    
}

#logout{
    margin-top: 20px;
    color: red;
}

#titulo{
    padding-right: 200px;
    font-size: 50px;
    margin-bottom: 75px;
}

h1{
    color:#f06292;
    text-align: center;
}

.background{
    background-color: rgb(238, 110, 115);
}

.container{
    width: 100%;
    float: right;    
}


