 #container{
        width: 40%;
        height: 40%;       
        margin-left: 30%;
      }

      *{
      	text-align: center;
        }

        body{
            margin-top: 5%;
            background-color: #ffb3b3;
        }

       .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .form-control{
       width: 50%;
       margin-left: 25%;
       background-color: white;
      }

      .btn{
        width: 50%;
        margin-left: 25%;
      } 

     input{
         margin-bottom: 10px; 
     }

      #logo{
          width: 50%;
          height: 50%;
      }

      h7{
        font-size: 15px;
      }